<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="cardapio.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet">
    <title>Cardapio</title>
</head>
<body>
    <header>
        <div id="titulo-head">
            <p>CARDAPIO</p>
            <p>FRANGO FRITO</p>
        </div>
    </header>
    <main class="content-center">
        <section id="content-center">
            <section class="menu">
                <div class="menu-two">
                    <div class="texto">
                        <h1>X-CHICKEN:</h1>
                        <p>frango, frango, frango, frango, frango</p>
                        <a href="">COMPRAR</a>
                    </div>
                    <div class="imagem-options"><img src="imgcardapio/xchicken.png" width="180" height="100"></div>
                    <div class="preco"><p>19,90</p></div>
                </div>
                <div class="menu-two">
                    <div class="texto">
                        <h1>X-CHICKEN:</h1>
                        <p>frango, frango, frango, frango, frango</p>
                        <a href="">COMPRAR</a>
                    </div>
                    <div class="imagem-options"><img src="imgcardapio/xchickendois.png" width="180" height="100"></div>
                    <div class="preco"><p>29,90</p></div>
                </div>
                <div class="menu-two">
                    <div class="texto">
                        <h1>X-CHICKEN:</h1>
                        <p>frango, frango, frango, frango, frango</p>
                        <a href="">COMPRAR</a>
                    </div>
                    <div class="imagem-options"><img src="imgcardapio/cheesebf.png" width="180" height="130"></div>
                    <div class="preco"><p>39,90</p></div>
                </div>
                <div class="menu-two">
                    <div class="texto">
                        <h1>X-CHICKEN:</h1>
                        <p>frango, frango, frango, frango, frango</p>
                        <a href="">COMPRAR</a>
                    </div>
                    <div class="imagem-options"><img src="imgcardapio/xchickentres.png" width="180" height="160"></div>
                    <div class="preco"><p>OO,OO</p></div>
                </div>
            </section>
            <section class="menu">
                <div class="menu-two">
                    <div class="texto">
                        <h1>X-CHICKEN:</h1>
                        <p>frango, frango, frango, frango, frango</p>
                        <a href="">COMPRAR</a>
                    </div>
                    <div class="imagem-options"><img src="imgcardapio/xchickendois.png" width="180" height="100"></div>
                    <div class="preco"><p>OO,OO</p></div>
                </div>
                <div class="menu-two">
                    <div class="texto">
                        <h1>X-CHICKEN:</h1>
                        <p>frango, frango, frango, frango, frango</p>
                        <a href="">COMPRAR</a>
                    </div>
                    <div class="imagem-options"><img src="imgcardapio/cheesebf.png" width="180" height="130"></div>
                    <div class="preco"><p>OO,OO</p></div>
                </div>
                <div class="menu-two">
                    <div class="texto">
                        <h1>X-CHICKEN:</h1>
                        <p>frango, frango, frango, frango, frango</p>
                        <a href="">COMPRAR</a>
                    </div>
                    <div class="imagem-options"><img src="imgcardapio/xchickentres.png" width="180" height="160"></div>
                    <div class="preco"><p>OO,OO</p></div>
                </div>
                <div class="menu-two">
                    <div class="texto">
                        <h1>X-CHICKEN:</h1>
                        <p>frango, frango, frango, frango, frango</p>
                        <a href="">COMPRAR</a>
                    </div>
                    <div class="imagem-options"><img src="imgcardapio/xchickendois.png" width="180" height="100"></div>
                    <div class="preco"><p>OO,OO</p></div>
                </div>
            </section>
        <section class="content-bottom"></section>
        </section>
    </main>
</body>
</html>