<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="cardapio.css">
    <title>Cardapio</title>
</head>
<body>
    <header>
        <p>COMBOS</p>
        <p>FRANGO FRITO</p>
    </header>
    <main class="content-center">
        <section id="content-center">
            <section class="menu">
                <div class="menu-two"></div>
                <div class="menu-two"></div>
                <div class="menu-two"></div>
                <div class="menu-two"></div>
                <div class="menu-two"></div>
            </section>
            <section class="menu">
                <div class="menu-two"></div>
                <div class="menu-two"></div>
                <div class="menu-two"></div>
                <div class="menu-two"></div>
                <div class="menu-two"></div>
            </section>
        <section class="content-bottom"></section>
        </section>
    </main>
</body>
</html>